@media only screen and (max-width: 993px) {
    .main_container {
        max-width: calc(100% - 120px);
    }

    .footer {

        .main_container {
            gap: 10px;
        }

        ul {
            max-width: 386px;
        }
    }
}

@media only screen and (max-width: 820px) {
    .footer {
        padding: 80px 0;

        .main_container {
            flex-direction: column;
            gap: 30px;
        }

        ul {
            max-width: 100%;
        }

        .footer_logo {
            max-width: 237px;
        }

        .footer_left {
            gap: 15px;

            li {
                font-size: 10px;
                line-height: 13px;
            }
        }

        h6, h5, a {
            font-size: 16px;
            line-height: 20px;
        }

        h6 {
            margin-bottom: 15px;
        }

        span {
            font-size: 10px;
            line-height: 13px;
        }

        .footer_right {
            justify-content: space-between;
            gap: 10px;

            .top_btn {
                width: 19px;
                height: 24px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main_container {
        max-width: calc(100% - 60px);
    }
}