// fonts
@font-face {
    font-family: 'Bergamasco',sans-serif;
    src: url('../fonts/bergamasco/Bergamasco-Semibold.ttf');
}

@font-face {
    font-family: 'Bergamasco',sans-serif;
    src: url('../fonts/bergamasco/Bergamasco-Regular.ttf');
}

@font-face {
    font-family: 'Bergamasco',sans-serif;
    src: url('../fonts/bergamasco/Bergamasco-Thin.ttf');
}

@font-face {
    font-family: 'NT Somic',sans-serif;
    src: url('../fonts/NTSomic/NTSomic-Bold.ttf');
}
@font-face {
    font-family: 'NT Somic',sans-serif;
    src: url('../fonts/NTSomic/NTSomic-Medium.ttf');
}
@font-face {
    font-family: 'NT Somic',sans-serif;
    src: url('../fonts/NTSomic/NTSomic-Regular.ttf');
}
// fonts

// vars
$font-NT-Somic: 'NT Somic', sans-serif; 
$font-Bergamasco: 'Bergamasco', sans-serif; 
// vars

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .3s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-NT-Somic;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_container {
    max-width: 1380px;
    margin: 0 auto;
}


@import './responsive';